body {
color:rgb (0,0,0);
font-family: lucida,cursive;
font-style: italic;
Font-weight: 500;
font-size: 18px;
}
h1 {
  text-align:center;
}

h2 {
  font-family: lucida,cursive;
  font-style: italic;
  text-align: center;
  color:black;
  font-size:16px;
  padding-top: 0;
}

.btn{
  display:flex;
  text-align: center;
 border: 2px black;
 background-color: black;
 padding: 14px 28px;
  font-size: 16px;
}

.Yoga {
  color: white;
  font-family: lucida,cursive;
  font-style: italic;
}
.Meditation {
  color: white;
  font-family: lucida,cursive;
  font-style: italic;
}
.Links {
  color: white;
  font-family: lucida,cursive;
  font-style: italic;
}
